html {
  background: url("../img/interior.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  background-color: inherit;
  color: white;
}

h1 {
  text-align: center;
  line-height: 4;
}
h2 {
  text-align: center;
}

li {
  font-size: 20px;
  padding: 5px;
  list-style: url("../img/ticket.png");
}

#buyNow {
  display: none;
}
